menu "Access controller configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) to connect to

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password to use.

    config MIN_RECONNECT_INTERVAL
        int "Minimum reconnect interval in seconds"
        default 5
        help
            Minimum reconnect interval

    config MAX_RECONNECT_INTERVAL
        int "Maximum reconnect interval"
        default 60
        help
            Maximum reconnect interval

    config BASE_URL
        string "Base access control URL"
        default "http://example.com"
        help
            Base access control server URL without trailing slash

    config APP_EVENT_TASK_PRIORITY
        int "Application event task priority"
        default 10
        help
            Priority of the application event task

    config APP_EVENT_TASK_STASK_SIZE
        int "Application event task stack size"
        default 1024
        help
            Stack size of the application event task

    config STATUS_UPDATE_INTERVAL
        int "Application status update interval"
        default 5000
        help
            Application status update interval in milliseconds

    config NFC_TASK_STACK_SIZE
        int "NFC task stack size"
        default 2048
        help
            Stack size of the NFC task

    config LED_TASK_STACK_SIZE
        int "LED task stack size"
        default 1024
        help
            Stack size of the LED task


endmenu